body{
    background-color: rgb(243, 147, 147);
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap')";
}
button{
    background-color: red;
    color: white;
    padding: 30px;
    
}
main{
    text-align: center;
    max-width: 40px;
}